.newsletter {
    font-size: 62.5%;
    font-family: Blinker, sans-serif;
    box-sizing: border-box;
    margin-top: 5rem;
    padding: 0;
    scroll-behavior: smooth;
    align-items: center;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
}

.newsletter__content {
    font-size: 62.5%;
    font-family: Blinker, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;

    h2{
        font-family: Blinker,sans-serif;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        color: #fff;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}

.newsletter input {
    font-size: 1.2rem;
    padding: .7rem;
    margin-right: .7rem;
    border: none;
    outline: none;
}

.newsletter button {
    font-size: 1.2rem;
    padding: .7rem;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 1rem;

    &:hover{
        color: #6704d8;
        background-color: #fff;

    }
}

@media (max-width: 600px) {
    .newsletter__content {    
        h2{
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
    }
}